<%- include('../partials/header'); %>
<link rel='stylesheet' href='../../stylesheets/style.css' />
<nav>
    <div id="create">Create Order</div>
    <div class="orders">Show Orders</div>
    <div class="orders" id="number">Show Order by<br> Order Number</div>
    <a id="logout" href="/logout">
      <div class="orders">Logout</div>
    </a>
</nav>
  <main>


    </div>
  </main>
<%- include('../partials/footer'); %>