<%- include('../partials/header'); %>
<link rel='stylesheet' href='../../stylesheets/style.css' />
<nav>
    <div id="create">Create Order</div>
    <div class="orders">Show Orders</div>
    <div class="orders" id="number">Show Order by<br> Order Number</div>
    <a id="logout" href="/logout">
      <div class="orders">Logout</div>
    </a>
</nav>
<main>
  
  <section id="left">
    <div id="frame" class="input">
      <div>
        <form action="/ordering/lookup" method="Post">
        <label for="phone">Customer Phone Number</label>
        <input type="text" name="phone" pattern="\d{10}" required value="<%= phoneNumber || '' %>">
        <button type="submit" id="phoneNum">Lookup<br>Customer</button>
        </form>
      </div>
      <div>
       <br>
       <% if(customer){ %>
        A returning customer!
      <% } else { %>
        <% if(phoneNumber){ %>
          New customer, enter their name and phone number.
        <% } %>
      <% } %> 
    </div>

    <div class="input">
      <% if(check === true){ %>
        <form action="/ordering/addcust" method="POST" id="formcust">
        <div id="cust">
          <div class="labels">
            <label for="custname">Customer Name</label>
            <label for="address">Address</label>
          </div>
          <div class="inputs">
            <input type="hidden" name="phone" value="<%= phoneNumber %>">
            <input type="text" name="custname" required>
            <input type="text" name="address" required>
          </div>
        </div>
        <div id="custbutton">
          <button type="submit">Add Customer</button>
        </div>
      </form>
        
      <% } %>
    </div>

    </div>
    <section id="middle">

    </section>
    <section id="right">

    </section>
    
</main>
<%- include('../partials/footer'); %>