<%- include('../partials/header'); %>
<link rel='stylesheet' href='../../stylesheets/style.css' />
<nav>
    <div id="create">Create Order</div>
    <div class="orders">Show Orders</div>
    <div class="orders" id="number">Show Order by<br> Order Number</div>
    <a id="logout" href="/logout">
      <div class="orders">Logout</div>
    </a>
</nav>
<main>
  
  <section id="left">
    <div id="frame">
      <div>
        <form action="/ordering/lookup" method="Post">
        <label for="phone">Customer Phone Number</label>
        <input type="text" name="phone" pattern="\d{10}" value="<%= phoneNumber || '' %>">
        <button type="submit" id="phoneNum">Lookup Customer</button>
        </form>
      </div>
      <div>
       <br> 
       <% if(customer){ %>
        A returning customer!
      <% } else { %>
        <% if(phoneNumber){ %>
          New customer, enter their name and phone number.
        <% } %>
      <% } %> 
    </div>
  
      
    
  </section>
  <section id="middle">

  </section>
  <section id="right">

  </section>

    
</main>
<%- include('../partials/footer'); %>