<%- include('../partials/header'); %>
<link rel='stylesheet' href='../../stylesheets/style.css' />
<nav>
    <div id="create">Create Order</div>
    <div class="orders">Show Orders</div>
    <div class="orders" id="number">Show Order by<br> Order Number</div>
    <a id="logout" href="/logout">
      <div class="orders">Logout</div>
    </a>
</nav>
<main>
  <section id="left">
    <div id="frame">
      
    </div>
  </section>
  <section id="middle">

  </section>
  <section id="right">

  </section>

    
</main>
<%- include('../partials/footer'); %>