<link rel='stylesheet' href='../stylesheets/styleshow.css' />
<%- include('../partials/header.ejs'); %>
<nav>
  <a href="/ordering" class="orders">
    <div id="create">Create Order</div>
  </a>
  <div class="orders" id="order">Show Orders</div>
  </a>
  <a href="/ordering/orderId" class="orders">
    <div class="orders" id="number">Show Order by<br> Order Number</div>
  </a>
  <a id="logout" href="/logout" class="orders" id="logout">
    <div class="orders">Logout</div>
  </a>
</nav>
<main>

</main>
<%- include('../partials/footer.ejs'); %>

