body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-areas: "nav" "main";
}

nav {
  background-color: #cf2d24;
}